body {
  margin: 0;
}
.myIndex {
  margin: 0;
  width: 100%;
}

.clearfix {
  overflow: auto;
}

.menubar .bg-light {
  background-color: black !important;
  padding: 15px;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 25px;
  margin-left: 10px;
}

.navbar-light .navbar-brand:hover {
  color: wheat;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  font-size: 20px;
}

.navbar-light .navbar-nav .active {
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: wheat;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Show Pop up */

.modal a {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

a:hover {
  opacity: 0.8;
}

.containers {
  padding: 3%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal .card {
  margin-left: 80px;
  margin-bottom: 20px;
}

.modal .card img {
  margin: 0;
}

.modal h5 {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}
.modal h1 {
  color: white;
}

/* Modal Content/Box */
.modal-content {
  background-image: url(../img/344164.jpg);
  background-size: cover;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* animate span size */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

.page_content {
  background-image: url(../img/ai.png);
  background-size: 100% 100%;
  width: 100%;
  height: 892px;
  margin: 0;
}

.page_content .data_form {
  width: 30%;
  color: white;
}

.page_content .data_form p {
  text-indent: 1.5em;
}
