body {
  margin: 0;
}
.myIndex {
  margin: 0;
  width: 100%;
}

.menubar .bg-light {
  background-color: black !important;
  padding: 15px;
}

.navbar-light .navbar-brand {
  color: white;
  font-size: 25px;
  margin-left: 10px;
}

.navbar-light .navbar-brand:hover {
  color: wheat;
}

.navbar-light .navbar-nav .active > .nav-link {
  color: white;
  font-size: 20px;
}

.navbar-light .navbar-nav .active {
  margin-left: 20px;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  font-size: 20px;
  margin-left: 15px;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: wheat;
}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

/*Show Pop up */

.modal a {
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

a:hover {
  opacity: 0.8;
}

.containers {
  padding: 3%;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.modal .card {
  margin-left: 80px;
  margin-bottom: 20px;
}

.modal .card img {
  margin: 0;
}

.modal h5 {
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal h1 {
  color: black;
}

/* Modal Content/Box */
.modal-content {
  background-image: url(../img/344164.jpg);
  background-size: cover;
  margin: 5% auto 15% auto;
  border: 1px solid #888;
  width: 60%;
}

/* The Close Button */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: white;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s;
}

@-webkit-keyframes animatezoom {
  from {
    -webkit-transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
  }
}

@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

/* animate span size */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
}

/* Content */
.page_content {
  background-image: url(../img/25101.jpg);
  background-size: 100% 100%;
  width: 100%;
  height: 892px;
  margin: 0;
}

.page_content .container .row .col-sm {
  margin-top: 100px;
  width: 25rem;
  border-top-style: solid;
  border-bottom-style: solid;
  padding: 0%;
}

.page_content .container .row .col-sm img {
  margin: 0;
  display: block;
  width: 100%;
}

.page_content .container .row #column1 {
  border: solid;
}

.page_content .container .row #column2 {
  border-right-style: solid;
  border-bottom-style: solid;
  border-top-style: solid;
  background-color: white;
}

.page_content .container .row #column2 .content-header {
  text-align: center;
  margin-top: 40px;
}

.page_content .container .row #column2 .btn-outline-info {
  margin-top: 30px;
  margin-left: 25%;
  padding: 14px;
  cursor: pointer;
  width: 50%;
  color: black;
}

.page_content .container .row #column2 .contact .fa {
  padding: 20px;
  font-size: 30px;
  width: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-top: 20px;
}

/* Facebook */
.fa-facebook {
  background: #3b5998;
  color: white;
  margin-left: 145px;
}

/* Twitter */
.fa-instagram {
  color: #fff;
  background: #d6249f;
  background: radial-gradient(
    circle at 30% 107%,
    #fdf497 0%,
    #fdf497 5%,
    #fd5949 45%,
    #d6249f 60%,
    #285aeb 90%
  );
  margin-left: 130px;
}

.page_content .container .row #column2 .contact .fa,
.page_content .container .row #column2 .contact .fa::before,
.page_content .container .row #column2 .contact .fa::after {
  box-sizing: content-box;
}

.fa-github {
  color: black;
  margin-left: 250px;
}
